<% content_for :body_class do %>login first_user<% end %>

<div class="login-body">
	<h2><%= I18n.t('my_admin.titles.user.first_access') %></h2>
	
	<%= form_for(@user, {:url => send("#{admin_prefix}_first_user_path"), :html => {:class => "form-validate"}}) do |f| %>
	
	  <%= f.error_messages %>
	
		<div class="control-group">
			<div class="controls">
				<%= f.text_field :first_name, {:class => "input-block-level", :placeholder => field_title(MyAdmin::User, "first_name"), 'data-rule-required' => true } %>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<%= f.text_field :last_name, {:class => "input-block-level", :placeholder => field_title(MyAdmin::User, "last_name"), 'data-rule-required' => true } %>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<%= f.text_field :username, {:class => "input-block-level", :placeholder => field_title(MyAdmin::User, "username"), 'data-rule-required' => true } %>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<%= f.password_field :password, {:class => "input-block-level", :placeholder => field_title(MyAdmin::User, "password"), 'data-rule-required' => true, 'data-rule-minlength' => 6 } %>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<%= f.password_field :password_confirmation, {:class => "input-block-level", :placeholder => field_title(MyAdmin::User, "password_confirmation"), 'data-rule-required' => true, 'data-rule-minlength' => 6, "data-rule-equalto" => "#my_admin_user_password" } %>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<%= f.text_field :email, {:class => "input-block-level", :placeholder => field_title(MyAdmin::User, "email"), 'data-rule-required' => true, 'data-rule-email' => true } %>
			</div>
		</div>
	
	  <div class="submit">
	    <%= f.submit I18n.t('my_admin.labels.models.create'), :class => "btn btn-primary" %>
	  </div>
	<% end %>
	
</div>