

<div class="pull-left">
	<!-- <img src="img/demo/locked.jpg" alt="" width="200" height="200"> -->
	<%= image_tag(my_admin_user.photo.url(:my_admin)) %>
	<%= link_to "Não é #{my_admin_user.full_name}?", send("#{admin_prefix}_sessions_path")%>
	
</div>
<div class="right">
	
	<% if flash[:error] %>
	  <div class="alert alert-error">
			<button class="close" data-dismiss="alert" type="button">×</button>
			<!-- <strong>Por favor, verifique os seguintes campos:</strong> -->
			<%= raw [flash[:error]].flatten.map {|note| "#{h(note)}" }.join( '<br />' ) %>
	  </div>
	<% end %>
	
	<div class="upper">
		<h2><%= my_admin_user.full_name %></h2>
		<span>Bloqueado</span>
	</div>
	<%= form_for(:session, {:url => send("open_#{admin_prefix}_sessions_path"), :html => {:class => "form-validate", :id => "login"}}) do |f| %>
		<div class="control-group">
			<div class="controls">
				<%= f.password_field :password, {:class => "input-block-level", :placeholder => I18n.t('my_admin.labels.session.password'), 'data-rule-required' => true } %>
			</div>
		</div>
		
		<div>
			<%= f.submit "Desbloquear", :class => "btn btn-inverse" %>
		</div>
	<% end %>
</div>