<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!-- Apple devices fullscreen -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- Apple devices fullscreen -->
		<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		
	  <meta name="rails-controller" content="<%= controller.class.name.underscore.gsub(%r{/}, '_').gsub("_controller", '') %>" />
	  <meta name="rails-action" content="<%= controller.action_name %>" />
	
     <title><%= MyAdmin.title %> - Sistema</title>
     <%#= raw stylesheet_link_merged :my_admin_off %>
     <%#= raw javascript_include_merged :my_admin_off %>
     
     <%= stylesheet_link_tag    "my_admin/application_off", media: "all", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "my_admin/application_off", "data-turbolinks-track" => true %>
     
		<!--[if lte IE 9]>
			<script src="javascripts/my_admin/plugins/placeholder/jquery.placeholder.min.js"></script>
			<script>
				$(document).ready(function() {
					$('input, textarea').placeholder();
				});
			</script>
		<![endif]-->

		<!-- Favicon -->
		<link rel="shortcut icon" href="<%= asset_path 'my_admin/favicon.ico' %>" />
		<!-- Apple devices Homescreen icon -->
		<link rel="apple-touch-icon-precomposed" href="<%= asset_path 'my_admin/apple-touch-icon-precomposed.png' %>" />
     
     <%= yield(:head) %>

     <%= csrf_meta_tag %>
  </head>
	<body class="<%= yield(:body_class) %> theme-darkblue" data-theme="theme-darkblue">
  	<div class="wrapper">
			<h1>
				<%= link_to send("#{admin_prefix}_path") do %>
					<img src="<%= asset_path 'my_admin/logo-big.png' %>" alt="" class='retina-ready' width="59" height="49"><%= MyAdmin.title %>
				<% end %>
			</h1>
			
			<% if flash[:success] %>
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert" type="button">×</button>
					<%= raw [flash[:success]].flatten.each {|note| "#{h(note)}" }.join( '<br />' ) %>
				</div>
			<% end %>
			
			<% if flash[:warning] %>
				<div class="alert">
					<button class="close" data-dismiss="alert" type="button">×</button>
					<%= raw [flash[:warning]].flatten.each {|note| "#{h(note)}" }.join( '<br />' ) %>
				</div>
			<% end %>
			
			<% if flash[:error] %>
			  <div class="alert alert-error">
					<button class="close" data-dismiss="alert" type="button">×</button>
					<!-- <strong>Por favor, verifique os seguintes campos:</strong> -->
					<%= raw [flash[:error]].flatten.map {|note| "#{h(note)}" }.join( '<br />' ) %>
			  </div>
			<% end %>
			
			<%= yield %>   
		</div>
	</body>
</html>
